
*{
    margin: 0;
}

body{
    background-color: #0C0F14;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.header{
    background-color: #08090B;
    width: 60%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    color: white;
    text-decoration: none;
    font-size: 3em;
    margin: 20px;
    text-transform: uppercase;
}

.menu{
    font-size: 1.3em;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 15px;
    
}
.menu a:hover{
    background-color: #97A709;
    color: #08090B;
    border-radius: 5px;
}

main{
    width: 60%;
    height: 500px;
    margin: 25px auto;
    text-align: center;
}

main h1{
    text-transform: uppercase;
    font-size: 4em;
}

.cards{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    background-color: #21262D;
    flex-basis: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px 20px;
}

.conteudo{
    text-align: left;
}

.conteudo p{
    margin: 15px 0;
    font-size: 1.8em;
}

.conteudo p span{
    font-size: 0.5em;
}

.conteudo ul{
    list-style: inside;
    padding: 0;
}

.conteudo li{
    padding: 5px;
}

.card h3{
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #97A709;
}

.subs{
    background-color: #CCE201;
    color: #21262D;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.subs:hover{
    background-color: #0C0F14;
    color: #CCE201;
}